* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: lightseagreen;
}

main {
    width: 75%;
    min-height: 100vh; /* Thanks https://alvarotrigo.com/blog/how-to-create-websites-fullscreen-sections-html-and-css/ for full height element */
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.9);
    border-radius: 50px;
}

#title, #title-caption, #img-caption, section > h3, blockquote {
    text-align: center;
}

#title, #title-caption {
    padding-top: 1em;
}

#title {
    font-size: 3em;
}

#title-caption {
    padding-bottom: 1em;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
}

#img-caption {
    padding-top: 1em;
}

section > h3 {
    padding-top: 2em;
    padding-bottom: 3em;
}

section > ul {
    width: 40%;
    list-style-type: none;
}

li > strong {
    font-size: 150%;
}

.point {
    padding-bottom: 2em;
}

blockquote {
    padding-top: 1.5em;
}

blockquote > p {
    padding-bottom: 0.5em;
}
