* {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

body {
    background-image: url(https://creativity103.com/collections/Graphic/slides/rainbowbars.jpg);
}

main {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 50px;
}

#title {
    padding-top: 1em;
    font-size: 3em;
}

#title-caption {
    padding-top: 1em;
    padding-bottom: 1em;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
}

#img-caption {
    padding-top: 1em;
}

section > h3 {
    padding-top: 2em;
    padding-bottom: 3em;
}

section > ul {
    width: 40%;
    list-style-type: none;
}

.point {
    padding-bottom: 2em;
}

blockquote > p {
    padding-bottom: 1.5em;
}
