* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    padding-top: 5px;
    align-items: center;
    /* Thanks https://www.freecodecamp.org/news/how-to-keep-a-navbar-at-the-top-of-my-viewport/ for help with navbar at top of viewport. */
    position: fixed;
    width: 100%;
    background-color: white;
}

#logo {
    display: flex;
    width: 60%;
}

#logo img {
    width: 3.7rem;
    padding-left: 5px;
}

#logo h1 {
    padding-left: 5px;
    font-size: 160%;
}

#nav-bar {
    width: 40%;
}

#nav-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#Usage, #Description, #HowtoGet {
    display: flex;
    justify-content: center;
}

#Usage {
    padding: 80px 0 20px 0;
}

#Description, #HowtoGet, #mailing-list, #mailing-list h2 {
    padding-bottom: 20px;
    text-align: center;
    font-size: 100%;
}

#mailing-list {
    text-align: center;
}

@media (max-width: 700px) {
    header {
        display: unset;
    }
    #logo, #nav-bar {
        width: 100%;
    }
}
